<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @goal_category.name %>
</p>
<div>
  <b>photato:</b>
    <%= image_tag @goal_category.avatar.url(:medium) %>
  </p>
</div>


<%= link_to 'Edit', edit_goal_category_path(@goal_category) %> |
<%= link_to 'Back', goal_categories_path %>
