<%= form_for(@form_visit, :url => [@client, @form_visit])  do |f| %>

  <% if @form_visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form_visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @form_visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="visits_date">
      <%= f.date_select :visit_date %>
    </div>
    <div class="visits_action_items">
      <%= submitButtonWithDifferentMessages f, @form_visit, "Save Meeting", "Save Meeting" %>
    </div>
    <div class="visits_action_items">
      <%= button_to "Delete Meeting", client_visit_path(@form_visit.client, @form_visit), :method => :delete, :confirm => "Are you sure you want to delete this visit?" %>
    </div>
<% end %>
