<% @client.getVisibleGoals(@curr_visit).each do |goal| %>
    <div class="visit_goals">
<!--      <div class="visit_goals_picture"><#%= link_to image_tag(getGoalImgURL(goal), size:"50x50") %></div>	-->
      <div class="visit_goals_picture">
        <%= link_to image_tag(goal.goal_category.avatar.url(:medium), size:"50x50"), client_visit_goal_path(@client, @curr_visit, goal)%>
        <!--<%= link_to image_tag(GoalCategory.find(goal.goal_category_id).avatar_file_name, size:"50x50") %>-->
      </div>
      <div class="visit_goals_progress">
      <!-- Progress Bubble -->
        <div style="height:50%; background-color:#FFFFFF;">
          &nbsp;
          <div style="border-radius:8px; color:#FFFFFF; background-color:#000000; width:5%; position:relative; float:left; left:<%= (getGoalProgressPercent(goal) - 2.5).to_s %>%;">
            <%= getGoalProgressPercent(goal).to_s %>%
          </div>
        </div>
      <!-- Bar -->
        <div style="height:20%; background-color:#C7C7C7; border-radius:8px;">
          &nbsp;
          <div style="background-color:	#B1CE72; position:relative; float:left; width:<%= getGoalProgressPercent(goal).to_s %>%; border-radius:8px;">
            &nbsp;
          </div>
        </div>
      <!-- Footer Text -->
        <div style="height:20%; background-color:#5555FF;">
          <div style="position:relative; float:left;"><%= GoalCategory.find(goal.goal_category_id).name %></div>
          <div style="position:relative; float:right;"><%= getGoalEndDate(goal) %></div>
        </div>
      </div>
      <div class="visit_goals_monthly"><b>$<%= goal.target_expenditures %></b> per month</div>
    </div>
<% end %>
