<!-- Timeline -->
<div class="timeline" style="margin-top:80px;margin-bottom:10px;">
  <%= render 'visit_visits' %>
</div>

<!-- Main Content Box -->
<div style="overflow:hidden;position:relative;">
  <div id="split_bar" style="width:8px; background-color:#1144AA; border-radius:8px; position:absolute; left:120px; z-index:2; height:100%">
  </div>
  <div class="goals_box" style="width:70%; position:relative; float:left;">
    <div style="height:30px;float:right;text-align:center">
      <div style="height:40px;float:left;vertical-align:center;margin-top:15px">
        <%= image_tag("cash.png", size:"25x25") %>
      </div>
      <div style="float:right;margin-left:10px">
        <h2>Minimum<br />Contribution</h2>
      </div>
	</div>
    <%= render 'visit_goals' %>
  </div>
  <div class="todo_box" style="margin-left:1%;width:29%;float:right;">
    <%= render 'visit_todos' %>
  </div>
</div>

<% unless @visit.disclaimer.nil? %>
  <div style="float:left;width:55%;text-align:center;margin-top:10px;margin-left:145px;text-wrap:none;">
    <%= @visit.disclaimer.body %>
  </div>
<%end%>

<div class="sub_header_right">
  <div class="sub_header_right_element", id="print_page">
    <%= button_to_function("Print this Page", "javascript:print()")%>
  </div>
  <div class="sub_header_right_element", id="client_link">
    <%= button_to "Client List", clients_path, :method => :get %>
  </div>
  <div class="sub_header_right_element", id="goals_link">
    <%= goalButton @visit %>
  </div>
  <div class="sub_header_right_element", id="goals_link">
    <%= button_to "Graphs", client_visit_goals_path(@client, @visit), :method => :get %>
  </div>
</div>

