<% @visits.each do |visit| %>
  <%= link_to(client_visit_path(visit.client, visit), :remote => true) do %>
    <% if visit == @visit %>
      <div class="circle_icon" style="left:<%=getVisitLocationPercentage(@visits, visit).to_s %>%;background-color:#F4BB3A;">
        <p class="circle_text"><%= getVisitString(visit) %></p>
      </div>
    <% else %>
      <div class="circle_icon" style="left:<%=getVisitLocationPercentage(@visits, visit).to_s %>%;">
        <p class="circle_text"><%= getVisitString(visit) %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
