<% @visits.each do |visit| %>
  <%= link_to(client_visit_path(visit.client, visit), :remote => true) do %>
    <% if visit == @visits.first %>
      <div class="circle_icon" style="position:relative; float:left;">
        <p class="circle_text"><%= getVisitString(visit, @visit) %></p>
      </div>
    <% elsif visit == @visits.last %>
      <div class="circle_icon" style="position:relative; float:right;">
        <p class="circle_text"><%= getVisitString(visit, @visit) %></p>
      </div>
    <% else %>
      <div class="circle_icon" style="left:<%=getVisitLocationPercentage(@visits, visit).to_s %>%;">
        <p class="circle_text"><%= getVisitString(visit, @visit) %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
