<div id="goal_progress">
    <h2>Goal Progress</h2>
    <% @curr_visit.goals.each do |goal| %>
        <% if not goal.complete %>
            <%= goal.target_date %>|
            <%= getGoalProgressPercent(goal).to_s + "%" %>|
            <!-- <%= getGoalProgress(goal) %>| -->
            <b>$<%= goal.target_expenditures %></b> per month|
            <%= getGoalEndDate(goal) %>
        <% end %>
    <% end %>
</div>
