<!-- Timeline -->
<div class="timeline" style="margin-top:100px;margin-bottom:10px;">
  <%= render 'visit_visits' %>
</div>

<!-- Main Content Box -->
<div style="overflow:hidden;position:relative;">
  <div id="split_bar" style="width:8px; background-color:#196483; border-radius:8px; position:absolute; left:10%; z-index:2; height:100%"></div>
  <div class="goals_box" style="width:70%; position:relative; float:left;">
    <div style="margin-left: 18%"><h2>Goal Progress</h2></div>
    <%= render 'visit_goals' %>
  </div>
  <div class="todo_box" style="margin-left:1%; width:29%; position:relative; float:left;">
    <%= render 'visit_todos' %>
  </div>
</div>
<div class="sub_header_right">
  <div class="sub_header_right_element">
    <%= button_to_function("Print this Page", "javascript:print()")%>
  </div>
  <div class="sub_header_right_element">
    <%= button_to "Client List", clients_path, :method => :get %>
  </div>
  <div class="sub_header_right_element">
    <%= button_to "Goal Categories", goal_categories_path, :method => :get %>
  </div>
</div>
