<div style="float:left;width:100%">
  <div style="float:left;margin-left:5%"><h2><%= image_tag("recommendations.png", size:"25x25")%>&nbsp;Recommendations</h2></div>
</div>
<div style="width:100%">
  <div style="height:60px">
    &nbsp;
  </div>
  <% @client.getVisibleToDosTimeline(@visit).each do |to_do| %>
    <div>
      <!-- <div class="todo_checkbox"></div> -->
      <%= form_for(to_do, :url => [@client, @visit, to_do], :remote => true)  do |f| %>
        <div class="todo_checkbox">
          <%= f.check_box :complete, :onclick =>'formSubmit(%d)' % to_do.id %>
        </div>
      <% end %>
      <div class="visit_todos">
        <b><%= to_do.title %></b>
        <br />
        <%= to_do.description %>
        <br />
        &nbsp;
      </div>
    </div>
  <% end %>
</div>