<% @client.getVisibleGoals(@visit).each do |goal| %>
  <div style='height: 50px; width: 100%;'>
    <div class="visit_goals">
      <div class="visit_goals_picture">
        <% if goal.goal_category.nil? %>
          <!-- Do Some Magic -->
        <% else %>
          <div style='height: 50px; width: 50px'>
            <%= link_to image_tag(goal.goal_category.avatar.url(:medium), :style => 'max-height: 50px; max-width: 50px; position: absolute; left: 50%; top: 50%;'), client_visit_goal_path(@client, @visit, goal)%>
          </div>
        <% end %>
      </div>
      <div class="visit_goals_progress">
      <!-- Progress Bubble -->
        <div style="height:50%;">
          <div  style="position:absolute;left:<%= (getGoalProgressPercent(goal)).to_s %>%;">
          <div class="visit_goals_progress_arrow_box" style="left:-19px">
            <%= link_to image_tag("pb_percent.png", size:"38x30") %>
          </div>
          <div class="visit_goals_progress_arrow_box_text" style="left:-19px">
            <p style="text-align:center;margin:0px;padding:0px;width:38px;">
              <%= getGoalProgressPercent(goal).to_s %>%
            </p>
          </div>            
          </div>
        </div>
        <div style="margin-bottom:13px;"> &nbsp; </div>

      <!-- Bar -->
        <div class="visit_goals_progress_emptybar"> 
          &nbsp;
        </div>
        <div class="visit_goals_progress_fullbar" style="width:<%= getGoalProgressPercent(goal).to_s %>%;">
          &nbsp;
        </div>

      <!-- Footer Text -->
        <div class="visit_goals_progress_footer">
          <div class="visit_goals_progress_footer_left"><%= goal.name %></div>
          <div class="visit_goals_progress_footer_right"><%= getGoalEndDate(goal) %></div>
        </div>
      </div>

      <div class="visit_goals_monthly"><b>$<%= goal.target_expenditures %></b> per month</div>
    </div>
  </div>
<% end %>
