<h1>Listing visits</h1>

<div>
  <table>
  <tr>
    <th>Visit date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visits.each do |visit| %>
  <tr>
    <td><%= visit.visit_date %></td>
    <td><%= link_to 'Show', client_visit_path(@client, visit) %></td>
    <td><%= link_to 'Destroy', client_visit_path(@client, visit), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h1>Listing goals</h1>

<table>
  <tr>
    <th>Target date</th>
    <th>Target value</th>
    <th>Current value</th>
    <th>Target expenditures</th>
    <th>Current expenditures</th>
    <th>Complete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visit.goals.each do |goal| %>
  <tr>
    <td><%= goal.target_date %></td>
    <td><%= goal.target_value %></td>
    <td><%= goal.current_value %></td>
    <td><%= goal.target_expenditures %></td>
    <td><%= goal.current_expenditures %></td>
    <td><%= goal.complete %></td>
    <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h1>Listing to_dos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Complete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visit.to_dos.each do |to_do| %>
  <tr>
    <td><%= to_do.title %></td>
    <td><%= to_do.description %></td>
    <td><%= to_do.complete %></td>
    <td><%= link_to 'Destroy', to_do, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= render 'form' %>

<%= link_to 'Show', client_visit_path(@client, @visit) %>