<h1>Listing visits</h1>

<div id="visits_bar">
    <% @visits.each do |visit| %>
        <div class="circle_icon" style.left="x_loc 5%">
            <p>
                <%= visit.visit_date %>
            </p>
        </div>
        |-- <%= getVisitLocationPercentage(@visits, visit).to_s %> --|
        <%= visit.visit_date %>|
        <!-- <%= link_to 'Show', client_visit_path(@client, visit), :remote => true %> | -->
        <%= link_to 'Edit', client_visit_path(@client, visit) %> |
        <%= link_to 'Destroy', client_visit_path(@client, visit), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= tryToAddVisitSpacer(@visits, visit) %>
    <% end %>
</div>

<div id="snapshot">
    <%= render 'visit_snapshot' %>
</div>

<div>
    <h2>Create New Visit</h2>
    <%= render 'form' %>
</div>

