<h1>Listing visits</h1>

<div>
    <% @visits.each do |visit| %>
        <%= visit.visit_date %> |
        <%= link_to 'Show', client_visit_path(@client, visit) %> |
        <%= link_to 'Destroy', client_visit_path(@client, visit), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= tryToAddVisitSpacer(@visits, visit) %>
    <% end %>
</div>

<div>
    <%= render 'form' %>
</div>

