<% @title = "VISITS DETAIL" %>
<%= render 'common/header' %>

<div class="admin_body">

<div class="sub_header">
  <% if @visit != @client.visits.first %>
    <div class="arrow">
      <%= link_to image_tag("Go-previous.svg.png", size: "28x28"), [@client, previous_visit(@client.visits, @visit)] %>
    </div>
  <% end %>

  <div id="visit_form">
    <%= render 'form' %>
  </div>
  
  <div class="arrow">
    <% if @visit != @client.visits.last  %>
      <%= link_to image_tag("Go-next.svg", size: "28x28"), [@client, next_visit(@client.visits, @visit)] %>
    <% else %>
      <%= link_to image_tag("Nuvola_Red_Plus.svg", size: "28x28"), client_visits_path(@visit.client), :method => :post %>
      <!-- <%= link_to image_tag("Nuvola_Red_Plus.svg", size: "28x28"), new_client_visit_path(@form_visit.client), :remote => true %> -->
    <% end %>
  </div>
  <div class="sub_header_right">
    <div class="sub_header_right_element">
      <%= button_to "Client List", clients_path, :method => :get %>
    </div>
    <div class="sub_header_right_element">
      <%= button_to "Goal Categories", goal_categories_path, :method => :get %>
    </div>
    <div class="sub_header_right_element">
      <%= button_to "Timeline", client_visits_path(@client), :method => :get %>
    </div>
  </div>
</div>

<!--Goal Section-->
<div style="width:100%">
<div id="goal_list" class="visits_list_set">
	<%= render :partial => '/goals/goal_list_form' %>
</div>
<div id="goal" class="detail_view">
	<h1>New Goal</h1>
	<%= render :partial => '/goals/form' %>
</div>
</div>

<!--Todo Section-->
<div style="width:100%">
<div id="todo_list" class="visits_list_set">
	<%= render :partial => '/to_dos/todo_list_form' %>
</div>
<div id="todo" class="detail_view">
	<h1>New To Do</h1>
	<%= render :partial => '/to_dos/form' %>
</div>
</div>

</div>
