<div class="filed">
  <div class=search>
    <%= form_tag clients_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", name: nil %>
      </p>
    <% end %>
  </div>
  <div class=add>
    <%= link_to image_tag("Nuvola_Red_Plus.svg", size: "28x28"), new_client_path, :remote => true%>
  </div>
</div>



<div class=field>
  <table class=header>
   <tr>
    	<th class=header>First Name</th>
        <th class=header>Last Name</th>
    	<th class=header>Email</th>
    </tr>
  </table>
  <div class=table_body>
    <table class=body>
      <% @clients.each do |client| %>
          <%= link_to(client_path(client), :remote => true) do %>
          <table class=element id=element>
            <tr>
              <td class=element_column><%= client.first_name %></td>
              <td class=element_column><%= client.last_name %></td>
              <td class=element_column><%= client.email %></td>
            </tr>
          </table>
          <%end%>
      <% end %>
    </table>
  </div>
</div>
