<div class="filed">
  <div class=search>
    <%= form_tag clients_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", name: nil %>
      </p>
    <% end %>
  </div>
  <div class=add>
    <%= link_to image_tag("Nuvola_Red_Plus.svg", size: "28x28"), new_client_path, :remote => true%>
  </div>
</div>

<div>
  <div>
    <div class="table_header_01">First Name</div>
    <div class="table_header_01">Last Name</div>
    <div class="table_header_02">Email</div>
  </div>
  <div>
    <% @clients.sort_by{|clients| clients.first_name}.each do |client| %>
      <%= link_to(client_path(client), :remote => true) do %>
      <div class="element">
        <div class="table_body_01"><%= client.first_name %></div>
        <div class="table_body_01"><%= client.last_name %></div>
        <div class="table_body_02"><%= client.email %></div>
      </div>
      <%end%>
    <% end %>
  </div>
</div>
