<div class="field">
  <div class='list_header'>
    <%= form_tag clients_path, :method => 'get' do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <p>
        <%= text_field_tag :filter_text, params[:filter_text] %>
        <%= submit_tag "Filter", name: "filter" %>
        <%= submit_tag "Clear", name: "reset" %>
      </p>
    <% end %>
  </div>
  <div class=add>
    <%= newImageButton new_client_path, @client %>
  </div>
</div>

<div>
  <div>
    <div class="table_header_quarter"><%= sortable "first_name", "First Name"%></div>
    <div class="table_header_quarter"><%= sortable "last_name", "Last Name"%></div>
    <div class="table_header_half"><%= sortable "email", "Email"%></div>
  </div>
  <div class="table_body">
    <% @clients.each do |client| %>
      <%= link_to(client_path(client), :remote => true) do %>
      <div class="element", style="<%= rowColor(@client, client) %>">
        <div class="table_body_quarter"><%= client.first_name %></div>
        <div class="table_body_quarter"><%= client.last_name %></div>
        <div class="table_body_half"><%= client.email %></div>
      </div>
      <%end%>
    <% end %>
  </div>
</div>
