<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Comment</th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.email %></td>
    <td><%= client.phone %></td>
    <td><%= client.address %></td>
    <td><%= client.city %></td>
    <td><%= client.state %></td>
    <td><%= client.zip %></td>
    <td><%= client.comment %></td>
    <td><%= link_to 'Show', client %></td>
  </tr>
<% end %>
</table>

<br />

<h1>Editing client</h1>

<%= render 'form' %>