<div style="width:1024px;margin:0px auto">

<div style="width:50%;float:left">
  <h1>clients</h1>
  <table style="border-spacing:0;width:100%">
    <tr>
      <th style="text-align:left">Name</th>
      <th style="text-align:left">Email</th>
      <!-- <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Comment</th>
      <th>
      </th> -->
    </tr>

    <% @clients.each do |client| %>
    <tr style="background:red;border-style:solid">
      <td style="color:white"><%= client.name %></td>
      <td style="color:white"><%= client.email %></td>
      <!-- <td><%= client.phone %></td>
      <td><%= client.address %></td>
      <td><%= client.city %></td>
      <td><%= client.state %></td>
      <td><%= client.zip %></td>
      <td><%= client.comment %></td>-->
      <td><%= link_to 'Show', client %></td>
    </tr>
    <% end %>
  </table>
</div>
<div style="width:50%;float:left">
  <h1>Editing client</h1>

  <%= render 'form' %>
</div>

</div>
