<% if @disclaimer.new_record? %>
  <h1>New Disclaimer</h1>
<% else %>
  <h1>Editing Disclaimer</h1>
<% end %>

<%= form_for(@disclaimer, :url => [@presets, @disclaimer], :remote => true) do |f| %>
  <% if @disclaimer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disclaimer.errors.count, "error") %> prohibited this disclaimer from being saved:</h2>

      <ul>
      <% @disclaimer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="edit_label">
      <%= f.label :name %><br />
    </div>
    <div class="edit_field">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class= "large_field">
    <div class="edit_label">
      <%= f.label :body %><br />
    </div>
    <div class="edit_description_field">
      <%= f.text_area :body %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
