<h1>Listing disclaimers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @disclaimers.each do |disclaimer| %>
  <tr>
    <td><%= disclaimer.name %></td>
    <td><%= disclaimer.body %></td>
    <td><%= link_to 'Show', disclaimer %></td>
    <td><%= link_to 'Edit', edit_disclaimer_path(disclaimer) %></td>
    <td><%= link_to 'Destroy', disclaimer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Disclaimer', new_disclaimer_path %>
