<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @disclaimer.name %>
</p>

<p>
  <b>Body:</b>
  <%= @disclaimer.body %>
</p>


<%= link_to 'Edit', edit_disclaimer_path(@disclaimer) %> |
<%= link_to 'Back', disclaimers_path %>
