<!-- HEADER -->
<% @title = "Presets" %>
<%= render 'common/header' %>
 
<!-- Main body -->
<div class=admin_body >
 
  <div style="width:100%">
    <div class='client_list' id="goalcategory_list">
      <%= render '/goal_categories/goalcategory_list_form' %>
    </div>

    <div class="sub_header_right">
      <div class="sub_header_right_element">
        <%= button_to "Client List", clients_path, :method => :get %>
      </div>
      <div class="sub_header_right_element">
        <%= button_to "Back",  client_visit_path(@last_visit.client, @last_visit), :method => :get %>
      </div>
    </div>
   

  <!-- Goal Category Form -->
    <div class="detail_view" id="goalcategory">
      <%= render '/goal_categories/form' %>
    </div>
  </div>
  
  <!-- Disclaimer List -->
  <div style="width:100%">
    <div class='client_list' id="disclaimer_list">
      <%= render '/disclaimers/disclaimer_list_form' %>
    </div>

  <!-- Disclaimer Form -->
    <div class="detail_view" id="disclaimer">
      <%= render '/disclaimers/form' %>
    </div>
  </div>
</div>
			      
