<%= form_for(@goal, :url => [@visit.client, @visit, @goal], :remote => true) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="edit_label">
      <%= f.label "Goal Name" %><br/>
    </div>
    <div class="edit_field">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="field">
    <div class="edit_label">
      <%= f.label "Goal Category" %><br />
    </div>
    <div class="edit_field">
      <%= collection_select(:goal, :goal_category_id, @goal_categories, :id, :name) %>
    </div>
  </div>

  <div class="field">
    <div class="edit_label">
      <%= f.label :target_date %><br />
    </div>
    <div class="edit_field">
      <%= f.date_select :target_date %>
    </div>
  </div>

  <div class="field">
    <div class="edit_label"
      <%= f.label :target_value %><br />
    </div>
    <div class="edit_field">
      <%= f.number_field :target_value %>
    </div>
  </div>

  <div class="field">
    <div class="edit_label">
      <%= f.label :current_value %><br />
    </div>
    <div class="edit_field">
      <%= f.number_field :current_value %>
    </div>
  </div>

  <div class="field">
    <div class="edit_label">
      <%= f.label 'Monthly Goal' %><br />
    </div>
    <div class="edit_field">
      <%= f.number_field :target_expenditures %>
    </div>
  </div>

  <div class="field">
    <div class="edit_label">
      <%= f.label 'Monthly Actual' %><br />
    </div>
    <div class="edit_field">
      <%= f.number_field :current_expenditures %>
    </div>
  </div>

  <div class="field">
    <div class="edit_label">
      <%= f.label :complete %><br />
    </div>
    <div class="edit_field">
      <%= f.check_box :complete %>
    </div>
  </div>
  
  <div class=button_format>
    <div class="actions">
      <%= f.submit %>
    </div>
 </div>
<% end %>
