<div class='list_header'>
  <h1>Goals</h1>
</div>
<div class=add>
  <%= newImageButton new_client_visit_goal_path(@visit.client, @visit), @goal %>
</div>

<div>
  <div>
    <div class="table_header_half">Name</div>
    <div class="table_header_quarter">Goal Value</div>
    <div class="table_header_quarter">Target Date</div>
  </div>
  
  <div class="short_table_body">
    <% @client.getVisibleGoals(@visit).each do |goal| %>
      <%= link_to(client_visit_goal_path(@visit.client, @visit, goal), :remote => true) do %>
        <div class="element", style="<%= rowColor(@goal, goal) %>">
          <div class="table_body_half"><%= goal.name %></div>
          <div class="table_body_quarter"> <%= number_to_currency(goal.goal_value) %></div>
          <div class="table_body_quarter"><%= goal.target_date.to_date %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
