<div class=search>
  <h1>Goals</h1>
</div>
<div class=add>
  <%= link_to image_tag("Nuvola_Red_Plus.svg", size: "28x28"), new_client_visit_goal_path(@visit.client, @visit), :remote => true%>
</div>

<div>
  <div>
    <div class="table_header_01">Name</div>
    <div class="table_header_01">Target Value</div>
    <div class="table_header_02">Target Date</div>
  </div>
  <div>
    <% @visit.goals.each do |goal| %>
      <%= link_to(client_visit_goal_path(@visit.client, @visit, goal), :remote => true) do %>
        <div class="element">
          <div class="table_body_01"><%= goal.name %></div>
          <div class="table_body_01"> <%= number_to_currency(goal.target_value) %></div>
          <div class="table_body_02"><%= goal.target_date.to_date %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
