<% @title = "Goals" %>
<%= render 'common/header' %>
<p id="notice"><%= notice %></p><div class="admin_body">

<% @goals.each do |goal| %>
    <div style="height:20px;width:100%"></div>
    <%= jqplot 500*11/20, 950,  goal.getJQPlotCompatibleData(),
      :axes => {
          :xaxis => {:label => 'Date', :renderer => "$.jqplot.DateAxisRenderer", :min => goal.goal_states.first.visit.visit_date, :max =>getMaxDateForGoal(goal), :tickOptions => {:formatString => '%Y-%m-%d', :tickInterval => "1 month" }  }, 
          :yaxis => {:label => 'Contributed', :min => 0, :max =>goal.goal_value } 
      },
      :title => goal.name,
      :legend => {:show => true, :location => 'se'},
      :axesDefaults => {:tickOptions => {:showGridline => true}},
      :grid => {:shadow => false, :drawGridLines => true} ,
      :series => [
          {:label => 'Remaining Contributions', :color => '#cccccc', :shadow => false}, 
          {:label => 'Current Contributions', :color => '##00C90D'}, 
          {:label => 'Target Contributions', :color =>'#1144AA'}
      ]
    %>
    <%= tryToPageBreak @goals, goal, 2, 2 %>
<% end %>

<div class="sub_header_right">
  <div class="sub_header_right_element", id="back_button">
    <%= button_to 'Back', client_visits_path(@visit.client), :method => 'get' %>
  </div>
  <div class="sub_header_right_element", id="print_page">
    <%= button_to_function("Print this Page", "javascript:print()")%>
  </div>
</div>