<%= form_for(@to_do_state) do |f| %>
  <% if @to_do_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@to_do_state.errors.count, "error") %> prohibited this to_do_state from being saved:</h2>

      <ul>
      <% @to_do_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :complete %><br />
    <%= f.check_box :complete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
